In [1]:
import pandas as pd

In [17]:
dataset = pd.read_csv('data/raw_dataset.csv')

In [18]:
dataset.head()

,First Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca

In [19]:
dataset.columns

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [20]:
dataset.columns = dataset.columns.str.lower()
#dataset.columns = map(str.lower, dataset.columns)

In [22]:
dataset.columns

Index(['first name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [23]:
dataset.columns = dataset.columns.str.replace(" ", "_")

In [24]:
dataset.columns

Index(['first_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email'],
      dtype='object')

In [25]:
dataset.head()

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca

In [27]:
dataset.rename(columns = {"age": "date_of_birth"}, inplace = True)

In [28]:
dataset.head()

,first_name,last_name,date_of_birth,salary,street_address1,street_address2,street_address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca

In [29]:
dataset.columns.values[7] = "Email Address"

In [31]:
dataset.columns

Index(['first_name', 'last_name', 'date_of_birth', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'Email Address'],
      dtype='object')

In [32]:
dataset.columns = dataset.columns.str.lower()

In [33]:
dataset.columns

Index(['first_name', 'last_name', 'date_of_birth', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email address'],
      dtype='object')

In [34]:
dataset.columns = dataset.columns.str.replace(" ", "_")

In [35]:
dataset.columns

Index(['first_name', 'last_name', 'date_of_birth', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email_address'],
      dtype='object')

In [38]:
 new_data = dataset.columns.difference(['street_address3'])

In [41]:
new_data

Index(['date_of_birth', 'email_address', 'first_name', 'last_name', 'salary',
       'street_address1', 'street_address2'],
      dtype='object')

In [42]:
dataset.filter(like = 'address').columns

Index(['street_address1', 'street_address2', 'street_address3',
       'email_address'],
      dtype='object')